.mt-0 {margin-top: 0px;}
.mt-3 {margin-top: 3px;}
.mt-4 {margin-top: 4px !important;}
.mt-6 {margin-top: 6px;}
.mt-8 {margin-top: 8px;}
.mt-12 {margin-top: 12px;}
.mt-16 {margin-top: 16px;}
.mt-24 {margin-top: 24px;}
.mt-48 {margin-top: 48px;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}

.font-12 {font-size: 12px;}
.font-14 {font-size: 14px;}
.font-16 {font-size: 16px;}
.font-20 {font-size: 20px;}
.font-24 {font-size: 24px;}

.pos-abs {position: absolute;}
.pos-rel {position: relative;}

.w100 {width: 100%;}
.w99 {width: 99%;}
.w97 {width: 97%;}

.h100 {height: 100%}
.h90 {height: 90%}

.d-block {
    display: block;
}

.grid {
    display: grid;
}

.self-center {
    justify-self: center;
}

.self-align {
    align-self: center;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-middle {
    display: flex;
    align-items: center;
    justify-content : center;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-right {
    display: flex;
    justify-content: right;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.image-48 {
    width: 48px;
    height: 48px;
}

.image-64 {
    width: 64px;
    height: 64px;
}

.image-80 {
    width: 80px;
    height: 80px;
}

.image-96 {
    width: 96px;
    height: 96px;
}

.image-128 {
    width: 128px;
    height: 128px;
}

.image-192 {
    width: 192px;
    height: 192px;
}

.image-256 {
    width: 256px;
    height: 256px;
}

.no-flow {
    overflow-y: hidden;
    overflow-x: hidden;
}

.img-down {
    position: relative;
    top: 24px;
}

.hidden {
    display: none;
}

.temp {
    font-size: 16px;
    top: 24px;
    position: relative;
    left: 24px;
}