<style type="text/css">
    .temp {
        font-size: 24px;
        padding-left: 29px;
        padding-top: 10px;
    }

    .c {
        color: red;
    }

    .g {
        color: green;
    }

</style>

<div class="c temp">
    Under Construction
</div>

@code {

}
