<style type="text/css">
    .r {
        color: red;
    }

    .y {
        color: yellow;
    }

    .g {
        color: green;
    }
    .wrap {
        padding-left:50px;
        padding-top:30px;
        font-size:24px;
    }

    .status {
        font-size:32px;
        margin-top:10px;
    }

</style>
<div class="wrap">
<div class="r">Under Construction</div>
<div class="status">Status</div>
<ul>
    <li class="r">Home</li>
    <li class="g">Codex</li>
    <li class="y">Permutator</li>
    <li class="r">Grapher</li>
    <li class="r">Settings</li>
</ul>
</div>


@code {

}
