div.top-panel {
    position: relative;
    height: 250px;
    width: 1365px;
    --aug-tl: 30px;
    --aug-tr: 29px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 3px;
    --aug-border-bottom: -1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tr-extend1: 58px;
    --aug-tr-inset2: -1px;
    --aug-tl-extend1: 57px;
    left: 8px;
    top: 8px;
    margin-bottom: 5px;
}

div.top-panel-inner {
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: -1px;
    --aug-border-bottom: 2px;
    --aug-border-bg: var(--sfBlue);
    width: 1347px;
    left: 9px;
    height: 251px;
    display: flex;
    padding-top: 12px;
}

div.bottom-panel {
    position: relative;
    float: left;
    height: 576px;
    width: 1365px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-br: 29px;
    --aug-bl: 29px;
    --aug-border-all: 3px;
    --aug-border-top: -1px;
    --aug-border-bg: var(--sfBlue);
    top: 10px;
    left: 8px;
    margin-right: 5px;
}

div.bottom-panel-inner {
    height: 568px;
    width: 1347px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-border-all: -1px;
    --aug-border-top: 2px;
    --aug-border-bg: var(--sfBlue);
    left: 9px;
}

.btn-bar {
    position: relative;
    height: 200px;
    width: 81px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 2.5px;
    --aug-border-x: -1px;
    --aug-border-bg: var(--sfBlue);
    top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perm-close{
    /*top:40px;*/
    /*right:10px;*/
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

div.btn-outer {
    --aug-all-width: 60px;
    --aug-border-all: 3px;
    --aug-border-bg: var(--sfBlue);
    background: unset;
    transition: .15s;
}

div.btn-middle {
    --aug-all-width: 56px;
    --aug-border-all: 2px;
    transition: .15s;
}

div.btn-inner {
    --aug-all-width: 54px;
    --aug-border-all: 1px;
    margin: 1px;
    transition: .15s;
}

.btn-x {
    background: unset;
    border: unset;
    width: 60px;
    height: 60px;
}

.btn-outer:not(:disabled):hover {
    /*--aug-border-all: 5px;*/
    --aug-border-all: 2px;
    background: var(--sfBlue20);
    transition: .2s;
}

    .btn-outer:not(:disabled):hover .btn-middle {
        --aug-all-width: 48px;
        --aug-border-all: 1.5px;
        transition: .2s;
    }

    .btn-outer:not(:disabled):hover .btn-inner {
        --aug-all-width: 38px;
        transition: .2s;
    }

    .btn-outer:not(:disabled):hover .btn-icon {
        font-size: 1.5rem;
        transition: .2s;
    }

.btn-outer:not(:disabled):active {
    background: var(--sfBlueHover);
}

.icon-close {
    padding-bottom: 5px;
    margin-left: 1px !important;
}

.btn-icon {
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: var(--sfBlue);
    font-size: 2rem;
    transition: .15s;
    margin-left: 2px;
}


div.selected-list {
    position: relative;
    height: 229px;
    width: 940px;
    --aug-tl: 27px;
    --aug-tr: 20px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 2.5px;
    --aug-border-y: -1px;
    --aug-border-bg: var(--sfBlue);
    margin-left: 5px;
    margin-right: 10px;
}

div.selected-perm {
    position: relative;
    height: 229px;
    width: 300px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 2.5px;
    --aug-border-y: -1px;
    --aug-border-bg: var(--sfBlue);
    margin-right: 10px;
}
