div.top-panel {
    position: relative;
    height: 250px;
    width: 1365px;
    --aug-tl: 30px;
    --aug-tr: 29px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 3px;
    --aug-border-bottom: -1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tr-extend1: 58px;
    --aug-tr-inset2: -1px;
    --aug-tl-extend1: 57px;
    left: 8px;
    top: 8px;
    margin-bottom: 5px;
}

div.top-panel-inner {
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: -1px;
    --aug-border-bottom: 2px;
    --aug-border-bg: var(--sfBlue);
    width: 1347px;
    left: 9px;
    height: 251px;
}

div.bottom-panel {
    position: relative;
    float: left;
    height: 576px;
    width: 1365px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-br: 29px;
    --aug-bl: 29px;
    --aug-border-all: 3px;
    --aug-border-top: -1px;
    --aug-border-bg: var(--sfBlue);
    top: 10px;
    left: 8px;
    margin-right: 5px;
}

div.bottom-panel-inner {
    height: 568px;
    width: 1347px;
    --aug-tl: 20px;
    --aug-tr: 20px;
    --aug-border-all: -1px;
    --aug-border-top: 2px;
    --aug-border-bg: var(--sfBlue);
    left: 9px;
}

.selection {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: inherit;
    padding: 10px 10px 20px 10px;
}

.select-btn {
    margin: 12px;
}

.selection::-webkit-scrollbar {
    width: 1em;
}

.selection::-webkit-scrollbar-track {
    background: var(--sfBlue40);
    border-radius: 16px;
    margin-block: 7em;
    margin-block-start: 2em;
}

.selection::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: var(--sfBlue40);
}
