.extract-space {
    margin: 0 25px; 
}

.impure {
    filter: drop-shadow(0px 0px 5px var(--sfRed)) drop-shadow(0px 0px 10px var(--sfRed));
}

.normal {
    filter: drop-shadow(0px 0px 5px var(--sfOrange)) drop-shadow(0px 0px 10px var(--sfOrange));
}

.pure {
    filter: drop-shadow(0px 0px 5px var(--sfGreen)) drop-shadow(0px 0px 10px var(--sfGreen));
}