
.info-panel-recipe-table {
    padding-left: 19px;
    padding-top: 0.75rem;
    border-collapse: separate;
}

.info-panel-recipe-header {
    font-size: 1.2rem;
    border-bottom: 1px solid;
    padding-top: 0px;
}

.info-panel-recipe-name-button {
    font-family: Tomorrow;
    font-variant: small-caps;
    background: unset;
    color: var(--myblue);
    border: unset;
    width: 210px;
    height: 40px;
    white-space: nowrap;
}

    .info-panel-recipe-name-button:hover {
        background: var(--myhighlightblue);
        color: var(--myhoverblue);
    }

    .info-panel-recipe-name-button:active {
        background: var(--myhoverblue);
        color: var(--myblue);
    }

div.info-panel-recipe-name-basic {
    width: 210px;
    height: 40px;
    --aug-tl: 20px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 20px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--myblue);
}

div.info-panel-recipe-name-alternate {
    width: 210px;
    height: 40px;
    --aug-tl: 4px;
    --aug-tr: 4px;
    --aug-bl: 6px;
    --aug-br: 6px;
    --aug-b: 5px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--myblue);
}


.info-panel-recipe-button {
    margin-top: 2px;
    margin-bottom: 2px;
    background: unset;
    border: unset;
}

    .info-panel-recipe-button:hover img {
        /*transform: scale(1.1);*/
        transition: .2s;
        filter: drop-shadow(3px 3px 4px var(--sfBlue)) drop-shadow(-3px 3px 4px var(--sfBlue)) drop-shadow(3px -3px 4px var(--sfBlue)) drop-shadow(-3px -3px 4px var(--sfBlue));
    }

.info-panel-recipe-image {
    max-width: 64px;
    max-height: 64px;
}

.extract-image {
    max-width: 64px;
    max-height: 64px;
   
}

.extract-space {
    margin-right: 25px;
    margin-left: 25px;
}

.building-image {
    max-width: 96px;
    max-height: 96px;
}

.info-panel-recipe-quantity {
    color: var(--myblue);
    font-size: .75rem;
}

.impure {
    filter: drop-shadow(0px 0px 5px var(--sfRed)) drop-shadow(0px 0px 10px var(--sfRed));
}

.normal {
    filter: drop-shadow(0px 0px 5px var(--sfOrange)) drop-shadow(0px 0px 10px var(--sfOrange));
}

.pure {
    filter: drop-shadow(0px 0px 5px var(--sfGreen)) drop-shadow(0px 0px 10px var(--sfGreen));
}
