/*#region Quick Nav */
div.quick-nav {
	float: left;
	position: absolute;
	top: 290px;
	left: 30px;
	width: 230px;
	height: 74%;
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 5px;
	--aug-border-all: 2px;
	--aug-border-bg: var(--myblue);
	--aug-tl: 216px;
	--aug-br: 15px;
	--aug-bl: 25px;
}

.quick-nav:hover {
	background: rgba(255,255,255,.1);
	transition: .3s;
	--aug-border-all: 3px;
}

	.quick-nav:hover ::deep .quick-nav-title {
		--aug-border-all: 4px;
		transition: .3s;
	}

.quick-nav-title {
	--aug-border-all: 2px;
	--aug-border-bg: var(--myblue);
	--aug-tl: 200px;
	--aug-br: 30px;
	height: 185px;
	margin-left: 15px;
	width: 200px;
	background: black;
}

.quick-nav-title-q {
	top: 40px;
	position: relative;
	left: 146px;
	font-size: 4rem;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 80px;
}

.quick-nav-title-nav {
	top: 35px;
	position: relative;
	left: 82px;
	font-size: 3rem;
}

.quick-nav-list {
	margin-top: 0px;
	margin-bottom: 0;
	padding-left: 0;
	display: block;
	list-style-type: none;
	margin-block-start: 7px;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 15px;
	padding-top: 0px;
}

.quick-nav-list-item {
	display: grid;
	text-align: -webkit-match-parent;
	width: 200px;
}

.quick-nav-list-item-button {
	font-family: Tomorrow;
	font-variant: small-caps;
	-webkit-appearance: button;
	font-size: 1.3rem;
	border-radius: 5px;
	background: black;
	color: var(--myblue);
	border: 2px solid;
	height: 87%;
	margin-bottom: 3px;
	padding-bottom: 1px;
}

	.quick-nav-list-item-button:hover {
		border: 3px solid;
		margin-bottom: 0px;
		padding-bottom: 0px;
		background: rgba(255,255,255,.1);
	}

	.quick-nav-list-item-button:active {
		background: var(--myhighlightblue);
	}

.quick-nav-list-item-button:hover ::deep .quick-nav-list-item-button-text {
	top: -4px;
	color: var(--myhoverblue);
}

.quick-nav-list-item-button-text {
	top: -3px;
	position: relative;
}
/*#endregion */

/*#region Main Panel */

.main-panel {
	position: relative;
	margin-left: 264px;
	margin-right: 22px;
	margin-bottom: 0px;
	top: 14px;
	height: 96vh;
	overflow: scroll;
	overflow-x: hidden;
	background: inherit;
}

div.main-panel-category {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 10px;
	--aug-tl: 55px;
	--aug-tr: 55px;
	--aug-br: 70px;
	--aug-bl: 30px;
	--aug-border-bg: var(--myblue);
	--aug-border-all: 2px;
	--aug-tr-extend1: 50%;
	transition: .5s;
}

div.main-panel-category:hover {
	--aug-border-all: 4px;
	transition: .5s;
	background: rgba(255, 255, 255, .1);
}

div.main-panel-category:hover ::deep div.main-panel-category-header {
	transform: scale(1.05);
	transition: .3s;
}

.main-panel-category-header {
	font-size: 3em;
	width: 45%;
	text-align: center;
	scroll-margin-top: 15px;
}

.main-panel-category-button {
	background: unset;
	padding: 0;
	margin: 10px;
	border: unset;
}

div.main-panel-category-button-item {
	width: 310px;
	height: 300px;
	--aug-tl: 30px;
	--aug-tr: 25px;
	--aug-br: 20px;
	--aug-bl: 20px;
	--aug-border-all: 2px;
	--aug-border-bg: var(--myblue);
	--aug-tr-extend2: 63%;
	padding-right: 15px;
	padding-top: 10px;
	background: black;
}

div.main-panel-category-button-item:hover {
	--aug-border-all: 4px;
	background: rgba(255,255,255,.1);
	transition: .2s;
}

.main-panel-category-button-item-name {
	position: relative;
	margin: 0px;
	padding: 0px;
	padding-right: 5px;
	top: 0px;
	font-size: 1rem;
	color: var(--myblue);
	text-align: right;
	font-variant: small-caps;
}
/*#endregion */

/*#region Info Panel */

.info-panel-on {
	width: 1500px;
	height: 911px;
	position: absolute;
	z-index: 20;
	top: 10%;
	left: 20%;
	transition: .6s;
}

.info-panel-off {
	width: 60%;
	height: 70%;
	position: absolute;
	z-index: 0;
	top: 10%;
	left: 20%;
	z-index: -1;
	transition: .4s;
	opacity: 0;
	transform: scale(.05);
}

div.info-panel {
	position: relative;
	height: 100%;
	width: 100%;
	--aug-tl: 30px;
	--aug-tr: 30px;
	--aug-br: 30px;
	--aug-bl: 30px;
	--aug-border-all: 5px;
	--aug-border-bg: var(--myblue);
	background: black;
}

.info-panel-no-item {
	padding-left:110px;
	padding-top:50px;
	font-size:3rem;
}

div.info-panel-top {
	position: relative;
	height: 41%;
	width: 98%;
	--aug-tl: 30px;
	--aug-tr: 30px;
	--aug-br: 30px;
	--aug-b: 15px;
	--aug-bl: 30px;
	--aug-b-center: 55%;
	--aug-b-extend1: 15px;
	--aug-border-all: 3px;
	--aug-border-bg: var(--myblue);
	top: 15px;
	left: 15px;
}

.info-panel-top-header {
	height: 29%;
	display: flex;
	align-items: center;
	padding-bottom: 1%;
	padding-top: 1%;
}

.info-panel-top-header-name {
	font-size: 3rem;
	padding-left: 4%;
	text-align: left;
	position: absolute;
}

.info-panel-top-header-buttons {
	justify-content: right;
	display: flex;
	width: 93%;
}

.info-panel-top-header-buttons-clear {
	background: unset;
	margin-right: 40px;
}

.info-panel-top-header-buttons-close {
	background: unset;
	margin-left: 40px;
}

	.info-panel-top-header-buttons-clear:hover > div, .info-panel-top-header-buttons-close:hover > div {
		--aug-border-all: 5px;
		background: var(--myhoverblue50);
		transition: .2s;
	}


.info-panel-top-header-buttons-nav {
	background: unset;
	padding: 3px;
}

	.info-panel-top-header-buttons-nav:disabled {
		opacity: 50%;
		border: unset;
		margin-left: 0;
		margin-right: 0;
		padding: 5px;
	}

	.info-panel-top-header-buttons-nav:not(:disabled):hover > div {
		--aug-border-all: 5px;
		background: var(--myhoverblue50);
		transition: .2s;
	}

	.info-panel-top-header-buttons-nav:not(:disabled):active > div, .info-panel-top-header-buttons-close:not(:disabled):active > div, .info-panel-top-header-buttons-clear:not(:disabled):active > div {
		background: var(--myhoverblue);
	}

div.info-panel-top-header-buttons-button {
	--aug-all-width: 60px;
	--aug-border-all: 4px;
	--aug-border-bg: var(--myblue);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.info-panel-top-header-buttons-icon {
	position: relative;
	top: -2px;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: var(--myblue);
	font-size: 2rem;
}

.info-panel-top-data {
	display: flex;
	padding-left: 10px;
}

.info-panel-top-data-image {
	margin-left: 5px;
	margin-bottom: 10px;
}

.info-panel-top-data-description {
	margin-left: 10px;
	border: 1px solid;
	margin-right: 30px;
	margin-bottom: 40px;
	padding: 5px;
	width: 100%;
	font-size: 1.2rem;
}

	.info-panel-top-data-description > p {
		margin-bottom: .5rem;
	}

div.info-panel-recipe {
	position: relative;
	float: left;
	height: 31rem;
	width: 53%;
	--aug-tl: 30px;
	--aug-tr: 10px;
	--aug-br: 20px;
	--aug-bl: 30px;
	--aug-border-all: 3px;
	--aug-border-bg: var(--myblue);
	top: 27px;
	left: 15px;
}

.info-panel-no-recipe-message {
	font-size: 3rem;
	position: relative;
	top: 5px;
	left: 50px;
}

.info-panel-recipe-table {
	padding-left: 2rem;
	padding-top: 0.75rem;
	border-collapse: separate;
}

.info-panel-recipe-header {
	font-size: 1.2rem;
	border-bottom: 1px solid;
	padding-top: 0px;
}

.info-panel-recipe-name {
	padding-right: 20px;
}

.info-panel-recipe-button {
	padding-right: 7px;
	padding-left: 7px;
	margin-top: 2px;
	margin-bottom: 2px;
}

	.info-panel-recipe-button:hover {
		transform: scale(1.1);
		transition: .2s;
	}

.info-panel-recipe-image {
	max-width: 64px;
	max-height: 64px;
}

.info-panel-recipe-quantity {
	color: var(--myblue);
	font-size: .75rem;
}

.info-panel-recipe-paging {
	width: 200px;
	height: 30px;
	display: flex;
	justify-content: right;
	position: absolute;
	bottom: 10px;
	right: 25px;
}

.info-panel-recipe-paging-pages {
	width: 150px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.info-panel-recipe-paging-pages-light {
	height: 15px;
	width: 15px;
	margin: 2px;
}

.info-panel-recipe-paging-pages-light-on {
	background: var(--myblue);
	transform: scale(1.15);
}

.info-panel-recipe-paging-pages-light-off {
	background: var(--myblue50);
}


.info-panel-recipe-paging-nav {
	width: 60px;
	display: flex;
	float: right;
}

.info-panel-recipe-paging-nav-button {
	height: 30px;
	width: 20px;
	background: unset;
}

.info-panel-paging-nav-icon {
	color: var(--myblue50);
	position: relative;
	top: -10px;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}

	.info-panel-paging-nav-icon:hover {
		color: var(--myblue75);
	}

	.info-panel-paging-nav-icon:active {
		color: var(--myblue);
	}

div.info-panel-options {
	position: relative;
	margin-right: 18px;
	float: right;
	height: 31rem;
	width: 43%;
	--aug-tl: 10px;
	--aug-tr: 30px;
	--aug-br: 30px;
	--aug-bl: 20px;
	--aug-border-all: 3px;
	--aug-border-bg: var(--myblue);
	top: 27px;
}
/*#endregion */

/*#region Toggle Info Panel */
.info-toggle-button {
	position: absolute;
	height: 1px;
	width: 1px;
	top: 0px;
	right: -5px;
	background: unset;
	border: unset;
}

.info-toggle:hover, .info-toggle:hover > .info-toggle-icon {
	--aug-border-bg: var(--myblue);
	color: var(--myblue);
}

.info-toggle:active > .info-toggle-icon {
	color: var(--myhoverblue);
}

div.info-toggle {
	position: relative;
	height: 80px;
	width: 80px;
	left: -80px;
	padding: 2px;
	--aug-bl: 20px;
	--aug-tl: 40px;
	--aug-br: 40px;
	--aug-border-all: 2px;
	--aug-border-bg: var(--myblue);
	background: black;
}

.info-toggle-icon {
	color: var(--myblue50);
	position: relative;
	top: 28px;
	left: -13px;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
}
/*#endregion */