@page "/"
@using SatisfactoryProductionator.DataModels.Models
@using SatisfactoryProductionator.DataParser
@inject HttpClient Http
<PageTitle>Index</PageTitle>

<style type="text/css">
    .index-format {
        padding-left: 15px;
        padding-top: 10px;
    }

    .done {
        text-decoration: line-through
    }
</style>

<div class="main-panel">
    <div class="index-format">
        <h2>MVP Items Left</h2>
        <ul>
            <li>Cytoscape.js implemented for graph</li>
            <li>Item Page converted to Codex that houses items, recipes, buildings</li>
            <li>graph library built that handles needs for Grapher and Permutator page</li>
            <li>permutations for comparison for choosing graph paths (Single recipe routes only, all permutations with multiple Recipes for same item seems needless)</li>
            <li>AppSettings page that will hold preferred Recipes to use in Grapher</li>
        </ul>

        <h2>Current Tasks</h2>
        <ul>
            <li>New Codex page and data parser</li>
            <li>
                <ul>
                    <li>Grouped item styling</li>
                    <li>Single Item component</li>
                    <li>Modal component</li>
                    <li>Recipe, building, infra, tier pages</li>
                    <li>Tier Codex Items</li>
                </ul>
            </li>
            
        </ul>

        <h2>Backlog</h2>
        <ul>
            <li>Codex</li>
            <li><ul>
                <li>Handle resizing issues for info panel/quicknav</li>
                <li><ul>
                    <li>Once a certain minimum size is met that makes site unusable - display off with message saying to make bigger??</li>
                </ul></li>
            </ul></li>

            <li>Settings Page</li>
            <li><ul>
                <li>Rebuild recycled plastic/rubber input setting (30-9999)</li>
                <li>Updated settings state container to bounds check input setting</li>
                <li>Add secondary plastic/rubber recipe choices for when recycled recipe falls under minimum</li>
                <li>Design layout for default recipes</li>
                <li><ul>
                    <li>Categorize same way codex is with general settings as first category(recycled, etc.)</li>
                    <li>Each item will have all its recipes listed next to it with defaulted highlighted (basics, alts, ?byproducts?)</li>
                    <li>Clicking a button or entering in value where appropriate will update settings state immediately, no need for a save button</li>
                    <li>Add reset to defaults button which will set min recycle to 30 and set all recipes back to basic</li>
                </ul></li>
            </ul></li>

            <li>Permutator Page</li>
            <li><ul>
                <li>Permutator library(may be combined with grapher library or split with a shared utility library)</li>
                <li>Permutator state container that other pages can work with</li>
                <li>Ability to select permutation to stick on top to compare while scrolling - collapsible</li>
                <li>Filtering on top - collapsible</li>
                <li>QNav area will house sorting</li>
                <li>Option to set all recipes in a permutation as defaults</li>
            </ul></li>

            <li>Grapher Page</li>
            <li><ul>
                <li>Grapher Library</li>
                <li>Grapher state container</li>
                <li>Implement Cytoscape.js for graphing</li>
                <li>qnav area will hold meta data on what is getting graphed</li>
                <li><ul>
                    <li>Total power</li>
                    <li>Total infra cost</li>
                    <li>Total materials needed/inputs from storage</li>
                </ul></li>
            </ul></li>
          
            <li>Home Page</li>
            <li><ul>
                <li>Overview</li>
                <li>documentation</li>
                <li>contact info for bugs/feature requests</li>
            </ul></li>
        </ul>

        <h2>Stretch Goals</h2>
        <ul>
            <li>Cookies to store preferred Recipes</li>
            <li>option to save/export production lines</li>
            <li>Predefined production lines if saving production lines gets implemented</li>
            <li>
                <ul>
                    <li>Starter factory setups (will be small versions to give someone new an idea of how to lay productions lines out)</li>
                    <li>Starter base that lays out lines for things needed for all lower tiers</li>
                    <li>Oil setup </li>
                    <li>Aluminum setup</li>
                    <li>Nuclear</li>
                    <li>Other types of setups that can be generated and updated to the default setups in page easily</li>
                    <li>All predefined will not be able to be overwritten but user can save an altered production line if a template gets tweaked to meet needs</li>
                </ul>
            </li>
            <li>Save scroll position between page navigations</li>
            <li>KILL THE SCOPE CREEP FAIRY!!!!!</li>
        </ul>
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        //TODO Move this into DataParser - Had issues with it in there - this is a temp workaround
        if (!DataAggregator.IsInitialized)
        {
            var docModel = await Http.GetFromJsonAsync<List<DocModel>>(Constants.JSON_FILEPATH);

            DataAggregator.InitializeModels(docModel!);
        }
    }
}
