@page "/"
@using SatisfactoryProductionator.DataModels.Models
@using SatisfactoryProductionator.Services;
@inject HttpClient Http
@inject CodexState CodexState

@implements IDisposable

<PageTitle>Index</PageTitle>

<style type="text/css">
    .index-format {
        padding-left: 15px;
        padding-top: 10px;
    }
    .c {
        color:red;
    }

    /* class="c" */
</style>

<div class="main-panel">
    <div class="index-format">
        <h2>MVP Items Left</h2>
        <ul>
            <li>Cytoscape.js implemented for graph</li>
            <li>Item Page converted to Codex that houses items, recipes, buildings</li>
            <li>graph library built that handles needs for Grapher and Permutator page</li>
            <li>permutations for comparison for choosing graph paths (Single recipe routes only, all permutations with multiple Recipes for same item seems needless)</li>
            <li>AppSettings page that will hold preferred Recipes to use in Grapher</li>
        </ul>

        <h2>Current Tasks</h2>
        <ul>
            <li>New Codex page and data parser</li>
            <li>
                <ul>
                    <li class="c">Standardize page layouts - single row max 4 bigger icon - 2 rows max 5 per smaller icon</li>
                    <li>Fix cost layout on items > 6 ie particle accelerator</li>
                    <li>Add Hardrive as equipment - inventory and fix missing links in mam</li>
                    <li>Screenshot missing patterns from game, emotes, snutts + Jaces face</li>
                    <li>Mam - Customizer section is missing all links for patterns and materials</li>
                    <li>Unlock Icons missing</li>
                    <li>
                        <ul>
                            <li>cart - both</li>
                            <li>pipeline wall attach</li>
                            <li>ramp wall - inverted and normal</li>
                        </ul>
                    </li>
                    <li>Unlock By items left</li>
                    <li>
                        <ul>
                            <li>Items</li>
                            <li>Equipment</li>
                            <li>Buildings</li>
                            <li>Infrastructure</li>
                            <li>Tiers</li>
                        </ul>
                    </li>
                    <li>Build out Extra info - Recipes, infra, filler(Random info)</li>
                    <li>Hub - milestone pages</li>
                    <li>elevator - phases pages</li>
                    <li>mam - research pages</li>
                    <li>sink - pages for resource points</li>
                    <li>Vehicles add fuel usage rates</li>
                    <li>nuclear - by products</li>
                    <li>Infra - add material enum</li>
                    <li>Add Handcraftable info for items/equipment with which workbench to use</li>
                    <li>automatable recipe list on Codex Entries</li>
                    <li>Remove one jumppad from jump pad milestone</li>
                    <li>shop - add purchaseable items</li>
                    <li>Text sizing on Codex to 14px for longer names</li>
                    <li>BoomBox - Compatible Items</li>
                    <li>Goat Tape - Completion missing</li>
                    <li>Add Tier # to Items</li>
                    <li>add linked infra for material swapping  </li>

                    <li></li>

                </ul>
            </li>
            
        </ul>

        <h2>Backlog</h2>
        <ul>
            <li>General</li>
            <li>
                <ul>
                    <li>Import font - Tomorrow - directly instead of fetching it from Google on load</li>
                    <li>Preferred recipe json</li>
                    <li>?permutations in json at 1/min?</li>
                    <li>scroll to top between nav category selections</li>
                    <li>Title in nav menu</li>
                </ul>
            </li>

            <li>Settings Page</li>
            <li><ul>
                <li>Rebuild recycled plastic/rubber input setting (30-9999)</li>
                <li>Updated settings state container to bounds check input setting</li>
                <li>Add secondary plastic/rubber recipe choices for when recycled recipe falls under minimum</li>
                <li>Design layout for default recipes</li>
                <li><ul>
                    <li>Categorize same way codex is with general settings as first category(recycled, etc.)</li>
                    <li>Each item will have all its recipes listed next to it with defaulted highlighted (basics, alts, ?byproducts?)</li>
                    <li>Clicking a button or entering in value where appropriate will update settings state immediately, no need for a save button</li>
                    <li>Add reset to defaults button which will set min recycle to 30 and set all recipes back to basic</li>
                </ul></li>
            </ul></li>

            <li>Permutator Page</li>
            <li><ul>
                <li>Permutator library(may be combined with grapher library or split with a shared utility library)</li>
                <li>Permutator state container that other pages can work with</li>
                <li>Ability to select permutation to stick on top to compare while scrolling - collapsible</li>
                <li>Filtering on top - collapsible</li>
                <li>QNav area will house sorting</li>
                <li>Option to set all recipes in a permutation as defaults</li>
            </ul></li>

            <li>Grapher Page</li>
            <li><ul>
                <li>Grapher Library</li>
                <li>Grapher state container</li>
                <li>Implement Cytoscape.js for graphing</li>
                <li>qnav area will hold meta data on what is getting graphed</li>
                <li><ul>
                    <li>Total power</li>
                    <li>Total infra cost</li>
                    <li>Total materials needed/inputs from storage</li>
                </ul></li>
            </ul></li>
          
            <li>Home Page</li>
            <li><ul>
                <li>Overview</li>
                <li>documentation</li>
                <li>contact info for bugs/feature requests</li>
            </ul></li>
        </ul>

        <h2>Stretch Goals</h2>
        <ul>
            <li>Cookies to store preferred Recipes</li>
            <li>option to save/export production lines</li>
            <li>Predefined production lines if saving production lines gets implemented</li>
            <li>
                <ul>
                    <li>Starter factory setups (will be small versions to give someone new an idea of how to lay productions lines out)</li>
                    <li>Starter base that lays out lines for things needed for all lower tiers</li>
                    <li>Oil setup </li>
                    <li>Aluminum setup</li>
                    <li>Nuclear</li>
                    <li>Other types of setups that can be generated and updated to the default setups in page easily</li>
                    <li>All predefined will not be able to be overwritten but user can save an altered production line if a template gets tweaked to meet needs</li>
                </ul>
            </li>
            <li>Save scroll position between page navigations</li>
            <li>KILL THE SCOPE CREEP FAIRY!!!!!</li>
        </ul>
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        CodexState.OnStateChange += StateHasChanged;
        
        if (CodexState.Codex == null)
        {
            await CodexState.InitializeCodexAsync();
        }
    }

    public void Dispose()
    {
        CodexState.OnStateChange -= StateHasChanged;
    }
}
