.filters-wrapper {
    width: calc(100vw - 330px);
    height: 100px;
    top: 9px;
    left: 8px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 14px;
    --aug-tr: 29px;
    --aug-bl: 25px;
    --aug-br: 25px;
    z-index:2;
    background:black;
}

.frozen-wrapper {
    width: calc(100vw - 335px);
    height: 40px;
    top: 33px;
    left: 17px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-bl: 15px;
    --aug-br: 15px;
    z-index: 1;
}

.perm-wrapper {
    width: calc(100vw - 330px);
    height: calc(100vh - 157px);
    top: 121px;
    left: 8px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 20px;
    --aug-tr: 18px;
    --aug-bl: 19px;
    --aug-br: 29px;
}

.page-wrapper {
    width: calc(100vw - 334px);
    height: calc(100vh - 203px);
    margin-top: 6px;
    margin-left: 2px;
    --aug-border-all: 2px;
    --aug-border-x: -1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 21px;
    --aug-tr: 18px;
    --aug-bl: 19px;
    --aug-br: 32px;
}

.perm {
    width: 100%;
    min-width: 300px;
    height: 200px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}

.options {
    width: 100px;
    height: 50px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}

.inputs {
    width: 100px;
    height: 50px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}

.items {
    width: 100px;
    height: 50px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}

.buildings {
    width: 100px;
    height: 50px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}

.infra {
    width: 100px;
    height: 50px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
}
