.filters-wrapper {
    width: calc(100vw - 330px);
    height: 100px;
    top: 9px;
    left: 8px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 14px;
    --aug-tr: 29px;
    --aug-bl: 25px;
    --aug-br: 25px;
    z-index: 2;
    background: black;
    transition: .2s;
}

.filters-open {
    transition: .2s;
    height: 400px;
}

.filter-toggle {
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    height: 45px;
    width: 40px;
    left: 14px;
    top: 35px;
    --aug-t: 20px;
    --aug-bl: 20px;
    --aug-br: 20px;
}

.filter-up {
    transform: rotate(-180deg);
    transition: .2s;
}

.filter-down {
    transform: rotate(0deg);
    transition: .2s;
}

.aug-btn:hover {
    --aug-border-all: 1.5px;
    background: var(--sfBlue20);
}

.details-wrapper {
    width: calc(100vw - 347px);
    height: 40px;
    top: 33px;
    left: 17px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-bl: 15px;
    --aug-br: 15px;
    z-index: 1;
    background: black;
}

.details-open {
    height: 300px;
    transition: .2s;
}

.details-expanded {
    height: 300px;
    transition: .2s;
}


.perm-wrapper {
    width: calc(100vw - 330px);
    height: calc(100vh - 157px);
    top: 121px;
    left: 8px;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 20px;
    --aug-tr: 18px;
    --aug-bl: 19px;
    --aug-br: 29px;
    transition: .2s;
}

.perm-filter-on {
    height: calc(100vh - 457px);
    top: 421px;
    transition: .2s;
}

.perm-filter-details-on {
    height: calc(100vh - 457px);
    top: 421px;
    transition: .2s;
}

.perm-filter-expanded-on {
    height: calc(100vh - 457px);
    top: 421px;
    transition: .2s;
}

.perm-details-on {
    height: calc(100vh - 457px);
    top: 421px;
    transition: .2s;
}

.perm-expanded-on {
    height: calc(100vh - 457px);
    top: 421px;
    transition: .2s;
}

.nav-btn {
    height: 30px;
    width: 20px;
    background: unset;
    border: unset;
}

.nav-icon {
    color: var(--sfBlue40);
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

    .nav-icon:hover {
        color: var(--sfBlue70);
    }

    .nav-icon:active {
        color: var(--sfBlue);
    }

.footer-wrapper {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    margin-right: 10px;
}

.stats-box {
    display: flex;
    align-items: center;
}

.incomplete {
    font-size: 16px;
    color: orangered;
    margin-left: 20px;
}

.hidden {
    display: none;
}
