@page "/recipes"
@using SatisfactoryProductionator.DataModels.Models
@using SatisfactoryProductionator.DataParser
<h3>Recipes</h3>

@if (_recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" style="flex-wrap: wrap; color:var(--myblue);padding-left:20px;">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Build Time</th>
            <th>Built In</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _recipes)
        {
            <tr>
                <td><img src=@GetIconLocation(item.Outputs!)/></td>
                <td>@item.DisplayName</td>
                <td>@item.BuildTime</td>
                <td>@item.Building</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private static List<Recipe>? _recipes;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => _recipes ??= DataAggregator.Recipes);
        _recipes!.Sort((n1, n2) => String.Compare(n1.Outputs!.First().Key, n2.Outputs!.First().Key, StringComparison.Ordinal));
        
    }

    private static string GetIconLocation(Dictionary<string, double[]> recipe)
    {
        var name = recipe.First().Key;
        name = name.Replace(" ", "").Replace("-", "").Replace(".", "");
        return $"icons/{name}_256.png";
    }
}
