
.nav-btn {
    height: 30px;
    width: 20px;
    background: unset;
    border: unset;
}

.nav-icon {
    color: var(--sfBlue40);
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

    .nav-icon:hover {
        color: var(--sfBlue70);
    }

    .nav-icon:active {
        color: var(--sfBlue);
    }

.footer-wrapper {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    margin-right: 10px;
}

.stats-box {
    display: flex;
    align-items: center;
}

.incomplete {
    font-size: 16px;
    color: orangered;
    margin-left: 20px;
}

.hidden {
    display: none;
}
