div.info-panel {
    position: relative;
    height: 371px;
    width: 1365px;
    --aug-tl: 30px;
    --aug-tr: 29px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-all: 3px;
    --aug-border-bottom: -1px;
    --aug-border-bg: var(--sfBlue);
    --aug-tr-extend1: 58px;
    --aug-tr-inset2: -1px;
    --aug-tl-extend1: 57px;
    left: 8px;
    top: 8px;
    margin-bottom:5px;
}

div.info-panel-inner {
    --aug-br: 20px;
    --aug-b: 10px;
    --aug-bl: 20px;
    --aug-b-center: 784px;
    --aug-b-extend1: 9px;
    --aug-border-all: -1px;
    --aug-border-bottom: 2.5px;
    --aug-border-bg: var(--sfBlue);
    width: 1347px;
    left: 9px;
    height: 372px;
}

.info-header {
    height: 29%;
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.header-text {
    font-size: 3rem;
    padding-left: 4%;
    text-align: left;
    position: absolute;
}
