div.info-panel {
    position: relative;
    height: 375px;
    width: 99.7%;
    --aug-tl: 30px;
    --aug-tr: 30px;
    --aug-br: 20px;
    --aug-b: 10px;
    --aug-bl: 20px;
    --aug-b-center: 798px;
    --aug-b-extend1: 9px;
    --aug-border-all: 3px;
    --aug-border-bg: var(--sfBlue);
    top: 2px;
    left: 2px;
}

.info-header {
    height: 29%;
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.header-text {
    font-size: 3rem;
    padding-left: 4%;
    text-align: left;
    position: absolute;
}
