div.item-wrapper {
    width: 310px;
    height: 300px;
    margin: 10px;
    background: black;
    --aug-tl: 30px;
    --aug-tr: 25px;
    --aug-br: 20px;
    --aug-bl: 20px;
    --aug-border-y: 2px;
    --aug-border-x: .5px;
    --aug-border-bg: var(--sfBlue);
    --aug-tr-extend2: 63%;
}

.item-wrapper:hover {
    --aug-border-y: 4px;
    --aug-border-x: 1.5px;
    background: var(--sfBlue20);
}

.item-name {
    text-align: center;
}

.img-wrapper {
    margin: 5px 10px;
}

