div.nav-menu {
    width: 282px;
    height: 282px;
    top: 15px;
    left: 15px;
    --aug-tl: 30px;
    --aug-tr: 30px;
    --aug-bl: 12px;
    --aug-br: 30px;
    --aug-border-all: 3px;
    --aug-bl-extend1: 176px;
}

div.nav-menu-inner {
    width: 276px;
    height: 200px;
    top: 40px;
    left: 3px;
}

.header {
    width: 90%;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    padding: 0;
    margin: 0;
    font-size: 24px;
    margin-top: 10px;
}

.footer {
    left: 28px;
    bottom: 4px;
    width: 76%;
}

.footer-text {
    padding: 0;
    margin: 0;
}

.version {
    font-size: 10px;
    position: relative;
    float: right;
}

.nav-item {
    font-size: 15px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    text-decoration:none;
    transition:.1s;
    transition-delay:.1s;
}

    .nav-item ::deep a {
        height: 100%;
        display: flex;
        text-decoration-line: none;
    }

        .nav-item ::deep a.active {
            background-color: var(--sfBlue40);
        }

    .nav-item:active {
        --aug-border-all: 3px;
    }

    .nav-item ::deep a:hover {
        background-color: var(--sfBlue20);
    }

.nav-item:hover .icon,
.nav-item:hover div,
.nav-item ::deep a.active .icon,
.nav-item ::deep a.active div {
    color: var(--sfBlueHover)
}

.grow {
    transform: scale(1.08);
    transition: .1s;
    transition-delay: .1s;
}

.shrink {
    transform: scale(.9);
    transition: .1s;
    transition-delay: .1s;
}

.icon {
    font-family: Icons;
    font-size: 40px;
    z-index: -1;
    transition: .1s;
}

.ul {
    width: 133px;
    height: 75px;
    top: 12px;
    left: 12px;
    --aug-tl: 22px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 15px;
    --aug-br-inset1: 60px;
    --aug-br-inset2: 12px;
    --aug-border-left: 2px;
    --aug-border-top: 2px;
}

    .ul:hover .icon-ul {
        font-size: 30px;
        transition: .2s;
        top:25px;
        left:15px;
    }

    .ul:hover .text-ul {
        transition:.2s;
        font-size:20px;
    }

.icon-ul {
    top: 0px;
    left: 20px;
}

.text-ul {
    font-size: 0px;
    top: 8px;
    left: 58px;
    transition: .2s;
    z-index:-1;
}

.ur {
    width: 113px;
    height: 95px;
    top: 12px;
    left: 151px;
    --aug-tl: 7px;
    --aug-tr: 22px;
    --aug-bl: 15px;
    --aug-br: 7px;
    --aug-bl-inset2: 39px;
    --aug-bl-inset1: 32px;
    --aug-border-right: 2px;
    --aug-border-top: 2px;
}

    .ur:hover .icon-ur {
        font-size: 30px;
        transition: .2s;
        top: 45px;
        left: 70px;
    }

    .ur:hover .text-ur {
        transition: .1s;
        font-size: 20px;
    }

.icon-ur {
    top: 7px;
    left: 59px;
    transition:.1s;
}

.text-ur {
    font-size: 0px;
    top: 8px;
    left: 18px;
    transition: .1s;
    z-index:-1;
}

.c {
    width: 125px;
    height: 72px;
    top: 64px;
    left: 75px;
    --aug-tl: 12px;
    --aug-tr: 12px;
    --aug-bl: 12px;
    --aug-br: 12px;
}

    .c:hover .icon-c {
        font-size: 30px;
        transition: .2s;
        top: 11px;
        left: 17px;
    }

    .c:hover .text-c {
        transition: .1s;
        font-size: 20px;
    }

.icon-c {
    top: 2px;
    left: 44px;
}

.text-c {
    font-size: 0px;
    top: 20px;
    left: 57px;
    transition: .1s;
    z-index: -1;
}

.bl {
    width: 113px;
    height: 95px;
    top: 92px;
    left: 12px;
    --aug-tl: 7px;
    --aug-tr: 15px;
    --aug-bl: 22px;
    --aug-br: 7px;
    --aug-tr-inset2: 40px;
    --aug-tr-inset1: 33px;
    --aug-border-left: 2px;
    --aug-border-bottom: 2px;
}

    .bl:hover .icon-bl {
        font-size: 30px;
        transition: .2s;
        top: 2px;
        left: 16px;
    }

    .bl:hover .text-bl {
        transition: .1s;
        font-size: 18px;
    }

.icon-bl {
    top: 30px;
    left: 19px;
}

.text-bl {
    font-size: 0px;
    top: 55px;
    left: 15px;
    transition: .1s;
    z-index: -1;
}

.br {
    width: 133px;
    height: 75px;
    top: 112px;
    left: 131px;
    --aug-tl: 15px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 22px;
    --aug-tl-inset1: 59px;
    --aug-tl-inset2: 13px;
    --aug-border-right: 2px;
    --aug-border-bottom: 2px;
}

    .br:hover .icon-br {
        font-size: 30px;
        transition: .2s;
        top: 5px;
        left: 86px;
    }

    .br:hover .text-br {
        transition: .1s;
        font-size: 20px;
    }

.icon-br {
    top: 13px;
    left: 70px;
}

.text-br {
    font-size: 0px;
    top: 37px;
    left: 15px;
    transition: .1s;
    z-index: -1;
}