<div data-augmented-ui="tl-clip tr-clip br-2-clip-y bl-clip border" class="info-panel-options">
    <div style="padding:20px; margin:10px;font-size:1.2rem;color: red;">
        <p> UNDER CONSTRUCTION</p>
        <p>Grapher and Permutator Options</p>
    </div>
</div>

@code {

}
