div.info-panel-options {
    position: relative;
    margin-right: 3px;
    float: right;
    height: 181px;
    width: 572px;
    --aug-tl: 10px;
    --aug-tr: 20px;
    --aug-br: 30px;
    --aug-bl: 20px;
    --aug-border-all: 3px;
    --aug-border-bg: var(--sfBlue);
    top: 9px;
}
