/*#region Quick Nav */
div.codex-menu {
    position: absolute;
    top: 225px;
    bottom: 15px;
    left: 15px;
    width: 250px;
    font-family: Tomorrow;
    text-transform: capitalize;
    font-variant: small-caps;
    padding-bottom: 5px;
    --aug-border-all: 3px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 15px;
    --aug-tr: 12px;
    --aug-br: 15px;
    --aug-bl: 30px;
    --aug-l: 10px;
    --aug-r: 10px;
    --aug-l-offset: -340px;
    --aug-r-offset: -340px;
}

.codex-sub-menu {
    height: 185px;
    width: 220px;
    margin-left: 15px;
    margin-top: 15px;
    background: black;
    z-index: 10;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue);
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 30px;
}

.codex-submenu-loading {
    position: relative;
    top: 10px;
    left: 20px;
}

.codex-sub-button {
    position: absolute;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
}

    .codex-sub-button:hover,
    .infra:hover {
        --aug-border-all: 2px;
        background-color: var(--sfBlue20);
        
    }

        .codex-sub-button:hover .codex-sub-text,
        .codex-sub-btn-active .codex-sub-text {
            color: var(--sfBlueHover);
        }

.codex-sub-btn {
    width:100%;
    height:100%;
    border:0px;
    background:unset;
}

.codex-sub-btn-active {
    background-color: var(--sfBlue40);
}

 

div.codex-sub-u {
    height: 58px;
    width: 196px;
    top: 7px;
    left: 7px;
    --aug-tl: 6px;
    --aug-tr: 6px;
    --aug-bl: 52px;
    --aug-br: 43px;
    --aug-border-top: 2px;
}

div.codex-sub-l {
    height: 148px;
    width: 50px;
    top: 19px;
    left: 7px;
    --aug-tl: 0px;
    --aug-tr: 49px;
    --aug-bl: 4px;
    --aug-br: 47px;
    --aug-r: 24px;
    --aug-border-left: 2px;
}

div.codex-sub-c {
    height: 47px;
    width: 144px;
    top: 70px;
    left: 38px;
    --aug-tl: 23px;
    --aug-tr: 23px;
    --aug-bl: 23px;
    --aug-br: 23px;
}

div.codex-sub-r {
    height: 136px;
    width: 50px;
    top: 26px;
    left: 162px;
    --aug-tl: 43px;
    --aug-tr: 7px;
    --aug-bl: 42px;
    --aug-br: 9px;
    --aug-l: 26px;
    --aug-tr-inset1: 8px;
    --aug-border-right: 2px;
}

div.codex-sub-d {
    height: 56px;
    width: 184px;
    top: 122px;
    left: 15px;
    --aug-tl: 46px;
    --aug-tr: 41px;
    --aug-bl: 9px;
    --aug-br: 12px;
    --aug-border-bottom: 2px;
}

.codex-sub-text {
    position: absolute;
    color: var(--sfBlue);
    font-family: Tomorrow;
    text-transform: capitalize;
    font-variant: small-caps;
}

.codex-sub-text-u {
    top: 10px;
    left: 72px;
    font-size: 24px;
}

.codex-sub-text-l {
    top: 31px;
    left: 0px;
    font-size: 22px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.codex-sub-text-c {
    top: 6px;
    left: 28px;
    font-size: 22px;
}

.codex-sub-text-r {
    top: 24px;
    left: 24px;
    font-size: 18px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.codex-sub-text-d {
    top: 18px;
    left: 37px;
    font-size: 18px;
}

.codex-infra-sub-menu {
    position: absolute;
    top: 18px;
    left: 21px;
    height: 170px;
    width: 210px;
    background: black;
    z-index: 9;
    --aug-border-all: 2px;
    --aug-border-bg: var(--sfBlue); 
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 15px;
    --aug-br: 10px;
    transition: .3s;
}

.infra-active {
    top: 150px;
}

.infra-text-foundation {
    top: 2px;
    left: 55px;
    font-size: 20px;
}

.infra-text-walls-roofs {
    top: 10px;
    left: 34px;
    font-size: 20px;
}

.infra-text-general {
    top: 2px;
    left: 57px;
    font-size: 20px;
}

.quick-nav-list-container {
    left:10px;
    width: 230px;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 440px);
    transition: .3s;
}



.quick-nav-list {
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    display: block;
    list-style-type: none;
    margin-block-start: 7px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 15px;
    padding-top: 0px;
}

.container-infra-active {
    padding-top: 120px;
}

.infra {
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    position: absolute;
}

.infra-foundation {
    top: 54px;
    left: 6px;
    height: 35px;
    width: 198px;
    --aug-tl: 7px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
    --aug-bl-inset2: 40px;
    --aug-br-inset1: 25px;
    --aug-border-x: 2px;
    --aug-border-top: 2px;
}

.infra-wall {
    top: 82px;
    left: 6px;
    height: 54px;
    width: 198px;
    --aug-t: 10px;
    --aug-r: 5px;
    --aug-l: 8px;
    --aug-b: 10px;
    --aug-t-extend1: 113px;
    --aug-t-offset: 8px;
    --aug-b-extend1: 124px;
    --aug-b-offset: -7px;
    --aug-l-offset: -2px;
    --aug-r-offset: 12px;
    --aug-border-x: 2px;
}

.infra-general {
    top: 129px;
    left: 6px;
    height: 35px;
    width: 198px;
    --aug-tl: 10px;
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 9px;
    --aug-tl-inset1: 20px;
    --aug-tr-inset2: 35px;
    --aug-border-x: 2px;
    --aug-border-bottom: 2px;
}


.quick-nav-list-item {
    display: grid;
    text-align: inherit;
    width: 200px;
}

.quick-nav-list-item-button {
    font-family: Tomorrow;
    font-variant: small-caps;
    -webkit-appearance: button;
    font-size: 1.3rem;
    border-radius: 5px;
    background: black;
    color: var(--sfBlue);
    border: 2px solid;
    height: 87%;
    margin-bottom: 3px;
    padding-bottom: 1px;
}

    .quick-nav-list-item-button:hover {
        border: 3px solid;
        margin-bottom: 0px;
        padding-bottom: 0px;
        background: var(--sfBlue20);
    }

    .quick-nav-list-item-button:active {
        background: var(--sfBlueBGActive);
    }

    .quick-nav-list-item-button:hover ::deep .quick-nav-list-item-button-text {
        top: -4px;
        color: var(--sfBlueHover);
    }

.quick-nav-list-item-button-text {
    top: -3px;
    position: relative;
}

.quick-nav-list-container::-webkit-scrollbar {
    width: 3px;
}

.quick-nav-list-container::-webkit-scrollbar-track {
    background: var(--sfBlue40);
    border-radius: 100vh;
    margin-block: 2em;
    margin-block-start: 1em;
}

.quick-nav-list-container::-webkit-scrollbar-thumb {
    border: 3px solid rgba(255, 255, 255, .15);
    border-radius: 100vh;
    background: var(--sfBlue40);
}

.quick-nav-list-container::-webkit-scrollbar-thumb:hover {
    background: var(--myblue);
}

.quick-nav-list-container::-webkit-scrollbar-track:hover {
    background: var(--myhoverblueclear2);
}