@using SatisfactoryProductionator.DataModels.Models.Codex;
@using SatisfactoryProductionator.Services;

@inject CodexModalState CodexModalState;

@implements IDisposable

<div data-augmented-ui-reset></div>

<div data-augmented-ui="tl-clip tr-2-clip-y br-clip bl-2-clip-x border" class="codex-item-button">
    <button class="codex-group-item" type="button" @onclick="@(() => SetSelectedItem(@item))">
        <img src=@item.IconPath alt=@item.ClassName />
        <div class="codex-item-name">
            @FormatDisplayName(item.DisplayName)
        </div>
    </button>
</div>


@code {
    [Parameter]
    public CodexItem item { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        CodexModalState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        CodexModalState.OnStateChange -= StateHasChanged;
    }

    private void SetSelectedItem(CodexItem item) => CodexModalState.SetSelectedItem(item);

    private void ToggleModal() => CodexModalState.ToggleCodexModal();

    private static string FormatDisplayName(string name) => name.Replace(" - ", "-").Replace(" ", ".");
}
