@inherits LayoutComponentBase

<div class="page no-flow">
    <div class="augsidebar">
        <NavMenu />
    </div>

    <main>
        <div data-augmented-ui="tl-2-clip-y tr-clip br-clip bl-clip both" class="augpanel">
            @Body
        </div>
    </main>
</div>
