@inherits LayoutComponentBase

<div class="page no-flow">
   

    <main>
        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip border" class="outer-panel">
            <div class="augsidebar">
                <NavMenu />
            </div>
            @Body
        </div>
    </main>
</div>
