@* <link rel="stylesheet" type="text/css" href="../wwwroot/css/augmented-ui/augmented-ui.min.css" /> *@

<div data-augmented-ui=" tl-clip tr-clip br-clip bl-clip border" class="nav-panel">
    @* <a class="aug-navbar-brand" href="">Satisfactory Automator</a> *@
    <nav data-augmented-ui-reset class="aug-navbar-column">

        <div data-augmented-ui="tl-clip tr-clip br-clip-inset bl-clip border" class="nav-item nav-item-ul">
            <NavLink href="codex">
                <span class="nav-oi nav-oi-ul oi-aperture" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip-inset border" class="nav-item nav-item-ur">
            <NavLink href="grapher" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-ur oi-fork" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip br-clip bl-clip border" class="nav-item nav-item-center">
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-center oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip tr-clip-inset br-clip bl-clip border" class="nav-item nav-item-bl">
            <NavLink href="permutator" Match="NavLinkMatch.All">
                <span class="nav-oi nav-oi-bl oi-spreadsheet" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div data-augmented-ui="tl-clip-inset tr-clip br-clip bl-clip border" class="nav-item nav-item-br">
            <NavLink href="settings">
                <span class="nav-oi nav-oi-br oi-cog" aria-hidden="true"></span>
            </NavLink>
        </div>

    </nav>
</div>