div.nav-panel {
    position: absolute;
    font-family: Tomorrow;
    text-transform: capitalize;
    font-variant: small-caps;
    color: var(--sfBlue);
    background: none;
    width: 250px;
    height: 200px;
    top: 15px;
    left: 15px;
    --aug-tl: 30px;
    --aug-tr: 30px;
    --aug-bl: 30px;
    --aug-br: 30px;
    --aug-border-all: 3px;
}

.nav-item {
    position:absolute;
    font-size: 0.9rem;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    text-decoration:none;
}

.nav-item-center {
    width: 100px;
    height: 72px;
    top: 64px;
    left: 75px;
    --aug-tl: 12px;
    --aug-tr: 12px;
    --aug-bl: 12px;
    --aug-br: 12px;
}

.nav-item-ul {
    width: 120px;
    height: 75px;
    top: 12px;
    left: 12px;
    --aug-tl: 22px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 15px;
    --aug-br-inset1: 47px;
    --aug-br-inset2: 12px;
}

.nav-item-ur {
    width: 100px;
    height: 95px;
    top: 12px;
    left: 139px;
    --aug-tl: 7px;
    --aug-tr: 22px;
    --aug-bl: 15px;
    --aug-br: 7px;
    --aug-bl-inset2: 26px;
    --aug-bl-inset1: 32px;
}

.nav-item-bl {
    width: 100px;
    height: 95px;
    top: 92px;
    left: 12px;
    --aug-tl: 7px;
    --aug-tr: 15px;
    --aug-bl: 22px;
    --aug-br: 7px;
    --aug-tr-inset2: 27px;
    --aug-tr-inset1: 33px;
}

.nav-item-br {
    width: 120px;
    height: 75px;
    top: 112px;
    left: 119px;
    --aug-tl: 15px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 22px;
    --aug-tl-inset1: 46px;
    --aug-tl-inset2: 13px;
}

.nav-item ::deep a {
    height: 100%;
    display: flex;
    text-decoration-line: none;
    color: #0d6efd;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-item ::deep a.active {
    background-color: var(--sfBlue40);
}

.nav-item:hover {
    --aug-border-all: 2px;
    transform: scale(1.1);
}

.nav-item:active {
    --aug-border-all:3px;
}

.nav-item ::deep a:hover {
    background-color: var(--sfBlue20);
    
}

.nav-oi {
    font-family: Icons;
    color: var(--myblue);
    font-size: 45px;
}

.nav-oi-center {
    position: absolute;
    top: 0px;
    left: 27px;
}

.nav-oi-ul {
    position: absolute;
    top: 0px;
    left: 13px;
}

.nav-oi-ur {
    position: absolute;
    top: 18px;
    left: 50px;
}

.nav-oi-bl {
    position: absolute;
    top: 6px;
    left: 7px;
}

.nav-oi-br {
    position: absolute;
    top: 2px;
    left: 63px;
}