div.nav-panel {
    position: absolute;
    font-family: Tomorrow;
    text-transform: capitalize;
    font-variant: small-caps;
    color: var(--sfBlue);
    background: none;
    width: 250px;
    height: 200px;
    top: 15px;
    left: 15px;
    --aug-tl: 30px;
    --aug-tr: 30px;
    --aug-bl: 30px;
    --aug-br: 30px;
    --aug-border-all: 3px;
}

.nav-item {
    position:absolute;
    font-size: 0.9rem;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    text-decoration:none;
    transition:.1s;
    transition-delay:.1s;
}

    .nav-item ::deep a {
        height: 100%;
        display: flex;
        text-decoration-line: none;
        color: #0d6efd;
    }

        .nav-item ::deep a.active {
            background-color: var(--sfBlue40);
        }

    .nav-item:active {
        --aug-border-all: 3px;

    }

    .nav-item ::deep a:hover {
        background-color: var(--sfBlue20);
    }

.nav-item:hover .nav-oi,
.nav-item:hover div,
.nav-item ::deep a.active .nav-oi,
.nav-item ::deep a.active div {
    color: var(--sfBlueHover)
}

.nav-item-hover {
    transform: scale(1.08);
    transition: .1s;
    transition-delay: .1s;
}

.nav-item-shrink {
    transform: scale(.9);
    transition: .1s;
    transition-delay: .1s;
}

.nav-oi {
    font-family: Icons;
    color: var(--myblue);
    font-size: 40px;
    z-index: -1;
    transition: .1s;
}

.nav-item-ul {
    width: 120px;
    height: 75px;
    top: 12px;
    left: 12px;
    --aug-tl: 22px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 15px;
    --aug-br-inset1: 47px;
    --aug-br-inset2: 12px;
    --aug-border-left: 2px;
    --aug-border-top: 2px;
}

    .nav-item-ul:hover .nav-oi-ul {
        font-size: 30px;
        transition: .2s;
        top:25px;
        left:15px;
    }

    .nav-item-ul:hover .nav-text-ul {
        transition:.2s;
        font-size:20px;
    }

.nav-oi-ul {
    position: absolute;
    top: 0px;
    left: 20px;
}

.nav-text-ul {
    position: absolute;
    color: var(--sfBlue);
    font-size: 0px;
    top: 8px;
    left: 50px;
    transition: .2s;
    z-index:-1;
}

.nav-item-ur {
    width: 100px;
    height: 95px;
    top: 12px;
    left: 139px;
    --aug-tl: 7px;
    --aug-tr: 22px;
    --aug-bl: 15px;
    --aug-br: 7px;
    --aug-bl-inset2: 26px;
    --aug-bl-inset1: 32px;
    --aug-border-right: 2px;
    --aug-border-top: 2px;
}

    .nav-item-ur:hover .nav-oi-ur {
        font-size: 30px;
        transition: .2s;
        top: 45px;
        left: 60px;
    }

    .nav-item-ur:hover .nav-text-ur {
        transition: .1s;
        font-size: 20px;
    }

.nav-oi-ur {
    position: absolute;
    top: 8px;
    left: 45px;
    transition:.1s;
}

.nav-text-ur {
    position: absolute;
    color: var(--sfBlue);
    font-size: 0px;
    top: 8px;
    left: 13px;
    transition: .1s;
    z-index:-1;
}

.nav-item-center {
    width: 100px;
    height: 72px;
    top: 64px;
    left: 75px;
    --aug-tl: 12px;
    --aug-tr: 12px;
    --aug-bl: 12px;
    --aug-br: 12px;
}

    .nav-item-center:hover .nav-oi-center {
        font-size: 30px;
        transition: .2s;
        top: 11px;
        left: 7px;
    }

    .nav-item-center:hover .nav-text-center {
        transition: .1s;
        font-size: 20px;
    }

.nav-oi-center {
    position: absolute;
    top: 2px;
    left: 29px;
}

.nav-text-center {
    position: absolute;
    color: var(--sfBlue);
    font-size: 0px;
    top: 20px;
    left: 42px;
    transition: .1s;
    z-index: -1;
}


.nav-item-bl {
    width: 100px;
    height: 95px;
    top: 92px;
    left: 12px;
    --aug-tl: 7px;
    --aug-tr: 15px;
    --aug-bl: 22px;
    --aug-br: 7px;
    --aug-tr-inset2: 27px;
    --aug-tr-inset1: 33px;
    --aug-border-left: 2px;
    --aug-border-bottom: 2px;
}

    .nav-item-bl:hover .nav-oi-bl {
        font-size: 30px;
        transition: .2s;
        top: 2px;
        left: 16px;
    }

    .nav-item-bl:hover .nav-text-bl {
        transition: .1s;
        font-size: 18px;
    }

.nav-oi-bl {
    position: absolute;
    top: 30px;
    left: 19px;
}

.nav-text-bl {
    position: absolute;
    color: var(--sfBlue);
    font-size: 0px;
    top: 50px;
    left: 6px;
    transition: .1s;
    z-index: -1;
}


.nav-item-br {
    width: 120px;
    height: 75px;
    top: 112px;
    left: 119px;
    --aug-tl: 15px;
    --aug-tr: 7px;
    --aug-bl: 7px;
    --aug-br: 22px;
    --aug-tl-inset1: 46px;
    --aug-tl-inset2: 13px;
    --aug-border-right: 2px;
    --aug-border-bottom: 2px;
}

    .nav-item-br:hover .nav-oi-br {
        font-size: 30px;
        transition: .2s;
        top: 5px;
        left: 73px;
    }

    .nav-item-br:hover .nav-text-br {
        transition: .1s;
        font-size: 20px;
    }

.nav-oi-br {
    position: absolute;
    top: 13px;
    left: 59px;
}

.nav-text-br {
    position: absolute;
    color: var(--sfBlue);
    font-size: 0px;
    top: 37px;
    left: 13px;
    transition: .1s;
    z-index: -1;
}