@using SatisfactoryProductionator.DataModels.Models;
@using SatisfactoryProductionator.Services;

@inject PermModalState PermModalState;
@inject PermState PermState;
@inject CodexState CodexState;

@implements IDisposable;

<div data-augmented-ui-reset></div>

<div data-augmented-ui="tl-clip tr-clip br-2-clip-x bl-2-clip-y border" class="add-btn">
    <button type="button" class="btn-full" @onclick="@(() => PermModalState.ToggleModal())">
        <span class="btn-icon oi-plus" aria-hidden="true"></span>
    </button>
</div>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        PermModalState.OnStateChange += StateHasChanged;
        PermState.OnStateChange += StateHasChanged;
        CodexState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        PermModalState.OnStateChange -= StateHasChanged;
        PermState.OnStateChange -= StateHasChanged;
        CodexState.OnStateChange -= StateHasChanged;
    }

}
