.no-recipe {
    font-size: 36px;
    width: 98%;
    align-self: center;
    text-align-last: center;
}

.panel-left {
    position: relative;
    float: left;
    height: 100%;
    width: 350px;
    margin-left: 0%;
}

.panel-title {
    position: relative;
    font-size: 1.6rem;
    margin-left: 15px;
}

.panel-table {
    position: relative;
    margin-left: 8px;
}

.row-title{
    padding-left: 15px;
    font-size: 1rem;
}

.panel-right {
    position: relative;
    height: 100%;
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.building-image {
    position: relative;
    height: 148px;
    width: 148px;
    margin-top: 6px;
}

.building-name {
    font-size: 1.2rem;
    margin-top: 1px;
    text-align: center;
}

div.default-wrapper {
    height: 35px;
    width: 150px;
    --aug-tl: 5px;
    --aug-tr: 4px;
    --aug-bl: 4px;
    --aug-br: 5px;
    --aug-border-all: 1px;
    --aug-border-bg: var(--sfBlue);
    margin-top: 8px;
}

div.default-wrapper:hover {
    --aug-border-all:2px;
}

.default-btn {
    font-family: Tomorrow;
    font-variant: small-caps;
    height: 37px;
    width: 152px;
    background: unset;
    color: var(--sfBlue);
    font-size: 19px;
    padding-bottom: 3px;
    margin-top: -1px;
    margin-left: -1px;
}

.default-btn:hover {
    background: var(--sfBlue20);
}


/*.default-btn:active {
    background: var(--sfBlueHover);
    color: var(--sfBlue);
}*/
